<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"className":"matchbox-site-wrapper","layout":{"type":"grid","columnCount":null,"minimumColumnWidth":"27rem"}} -->
<div class="wp-block-group matchbox-site-wrapper"><!-- wp:group {"style":{"layout":{"selfStretch":"fit","flexSize":null}},"layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:navigation {"ref":4,"overlayMenu":"never","className":"is-style-navigation-vertical","style":{"spacing":{"margin":{"top":"0"}},"layout":{"selfStretch":"fixed","flexSize":"100%"}},"layout":{"type":"flex","setCascadingProperties":true,"justifyContent":"left","orientation":"vertical","flexWrap":"nowrap"}} /--></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"dimensions":{"minHeight":"100vh"}},"layout":{"type":"flex","orientation":"vertical","flexWrap":"nowrap","justifyContent":"center","verticalAlignment":"space-between"}} -->
<div class="wp-block-group" style="min-height:100vh"><!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"var:preset|spacing|80","bottom":"var:preset|spacing|80"},"blockGap":"var:preset|spacing|20"}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="padding-top:var(--wp--preset--spacing--80);padding-bottom:var(--wp--preset--spacing--80)"><!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"metadata":{"name":"Kicker"},"className":"is-style-typography-kicker"} -->
<p class="is-style-typography-kicker">Section</p>
<!-- /wp:paragraph -->

<!-- wp:post-title {"level":1,"fontSize":"x-large"} /--></div>
<!-- /wp:group -->

<!-- wp:post-content /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->